*
!*/
!*.c
!*.h
!*.java
!*.gitignore
!*.myfuncs
!*.sql
!*.json
!*.md
!*.sh
!*.yml
!*.xml
!*.yaml
!*.html
!*.css
!*.js
!*.ts
!*.jsx
!*.tsx
!*.svg
!*.jpg
!*.png
!Dockerfile
!*makefile
node_modules
package-lock.json
target